### Importing the dependencies

In [3]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.preprocessing import LabelEncoder,StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

### Data Collection

In [4]:
df=pd.read_csv(r"F:\DL_Projects_MS\dataset\dataset.csv")
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,30669,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,30468,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,16523,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,56543,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,46136,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

### Data Preprocessing

In [5]:
df.drop(columns=["id"],inplace=True)
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             43400 non-null  object
 1   age                43400 non-null  float64
 2   hypertension       43400 non-null  int64
 3   heart_disease      43400 non-null  int64
 4   ever_married       43400 non-null  object
 5   work_type          43400 non-null  object
 6   Residence_type     43400 non-null  object
 7   avg_glucose_level  43400 non-null  float64
 8   bmi                41938 non-null  float64
 9   smoking_status     30108 non-null  object
 10  stroke             43400 non-null  int64
dtypes: float64(3), int64(3), object(5)
memory usage: 3.6+ MB

In [7]:
df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,43400.000000,43400.000000,43400.000000,43400.000000,41938.000000,43400.000000
mean,42.217894,0.093571,0.047512,104.482750,28.605038,0.018041
std,22.519649,0.291235,0.212733,43.111751,7.770020,0.133103
min,0.080000,0.000000,0.000000,55.000000,10.100000,0.000000
25%,24.000000,0.000000,0.000000,77.540000,23.200000,0.000000
50%,44.000000,0.000000,0.000000,91.580000,27.700000,0.000000
75%,60.000000,0.000000,0.000000,112.070000,32.900000,0.000000
max,82.000000,1.000000,1.000000,291.050000,97.600000,1.000000

In [8]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
43395    False
43396    False
43397    False
43398    False
43399    False
Length: 43400, dtype: bool

In [9]:
df.isnull().sum()

gender                   0
age                      0
hypertension             0
heart_disease            0
ever_married             0
work_type                0
Residence_type           0
avg_glucose_level        0
bmi                   1462
smoking_status       13292
stroke                   0
dtype: int64

### Encoding using Label Encoder

In [10]:
for col in df.select_dtypes(include=["object"]).columns:
    encoder=LabelEncoder()
    df[col]=encoder.fit_transform(df[col])

In [11]:
df.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,3.0,0,0,0,4,0,95.12,18.0,3,0
1,1,58.0,1,0,1,2,1,87.96,39.2,1,0
2,0,8.0,0,0,0,2,1,110.89,17.6,3,0
3,0,70.0,0,0,1,2,0,69.04,35.9,0,0
4,1,14.0,0,0,0,1,0,161.28,19.1,3,0

### Filling Null Values

In [ ]:
df["bmi"].fillna(df["bmi"].mean())
df["smoking_status"].fillna(df["smoking_status"].mode())
df.head()

In [31]:
df.isnull().sum()

gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

### Using Standard Scaler to scale values

In [14]:
scaler=StandardScaler()
scaler.fit_transform(df)

array([[ 1.20108119, -1.74151677, -0.32129564, ..., -1.38846925,
         1.28640708, -0.13554685],
       [ 1.20108119,  0.700823  ,  3.11239826, ...,  1.38714994,
        -0.53968634, -0.13554685],
       [-0.83084068, -1.51948588, -0.32129564, ..., -1.44083942,
         1.28640708, -0.13554685],
       ...,
       [-0.83084068,  1.76657127,  3.11239826, ...,  0.03861798,
        -1.45273305, -0.13554685],
       [ 1.20108119, -0.0984882 , -0.32129564, ...,  0.60159734,
        -0.53968634, -0.13554685],
       [-0.83084068,  1.76657127, -0.32129564, ..., -1.04806312,
        -0.53968634, -0.13554685]], shape=(43400, 11))

### Feature Selection

In [15]:
x=df.drop(columns=["stroke"],axis=1)

In [16]:
x

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,3.0,0,0,0,4,0,95.12,18.0,3
1,1,58.0,1,0,1,2,1,87.96,39.2,1
2,0,8.0,0,0,0,2,1,110.89,17.6,3
3,0,70.0,0,0,1,2,0,69.04,35.9,0
4,1,14.0,0,0,0,1,0,161.28,19.1,3
...,...,...,...,...,...,...,...,...,...,...
43395,0,10.0,0,0,0,4,1,58.64,20.4,1
43396,0,56.0,0,0,1,0,1,213.61,55.4,0
43397,0,82.0,1,0,1,2,1,91.94,28.9,0
43398,1,40.0,0,0,1,2,1,99.16,33.2,1
43399,0,82.0,0,0,1,2,1,79.48,20.6,1

In [17]:
y=df["stroke"]
y

0        0
1        0
2        0
3        0
4        0
        ..
43395    0
43396    0
43397    0
43398    0
43399    0
Name: stroke, Length: 43400, dtype: int64

### Splitting data for training and testing purpose

In [18]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

### Importing dependencies for Deep Learning Model

In [19]:
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

### Using Sequential to prepare ANN

In [20]:
model=Sequential()
model.add(Dense(10,activation="relu",input_dim=10))
model.add(Dense(10,activation="relu"))
model.add(Dense(10,activation="relu"))
model.add(Dense(10,activation="relu"))
model.add(Dense(10,activation="relu"))
model.add(Dense(1,activation="sigmoid"))

C:\Users\DELL\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:92: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

### Model Summary

In [21]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ dense (Dense)                        │ (None, 10)                  │             110 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_1 (Dense)                      │ (None, 10)                  │             110 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_2 (Dense)                      │ (None, 10)                  │             110 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_3 (Dense)                      │ (None, 10)                  │             110 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_4 (Dense)                      │ (None, 10)                  │             110 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_5 (Dense)                      │ (None, 1)                   │              11 │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 561 (2.19 KB)

 Trainable params: 561 (2.19 KB)

 Non-trainable params: 0 (0.00 B)

### Model Training

In [22]:
model.compile(optimizer="Adam",loss="binary_crossentropy")

In [23]:
model.fit(x_train,y_train,epochs=50)

Epoch 1/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 7s 4ms/step - loss: 0.1783
Epoch 2/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0828
Epoch 3/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0818
Epoch 4/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0808
Epoch 5/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0800
Epoch 6/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0795
Epoch 7/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 0.0788
Epoch 8/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0784
Epoch 9/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - loss: 0.0778
Epoch 10/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0780
Epoch 11/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0781
Epoch 12/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 0.0773
Epoch 13/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0777
Epoch 14/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0769
Epoch 15/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0767
Epoch 16/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0767
Epoch 17/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0766
Epoch 18/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0762
Epoch 19/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 0.0757
Epoch 20/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 0.0757
Epoch 21/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0755
Epoch 22/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0755
Epoch 23/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 0.0758
Epoch 24/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0755
Epoch 25/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0752
Epoch 26/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 0.0753
Epoch 27/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0751
Epoch 28/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0752
Epoch 29/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0750
Epoch 30/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0747
Epoch 31/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0746
Epoch 32/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0748
Epoch 33/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 0.0745
Epoch 34/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 0.0746
Epoch 35/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 0.0743
Epoch 36/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0741
Epoch 37/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0742
Epoch 38/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 0.0742
Epoch 39/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 6s 4ms/step - loss: 0.0744
Epoch 40/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0742
Epoch 41/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - loss: 0.0739
Epoch 42/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 0.0740
Epoch 43/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 0.0739
Epoch 44/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 0.0738
Epoch 45/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0739
Epoch 46/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 0.0742
Epoch 47/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0741
Epoch 48/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 4s 3ms/step - loss: 0.0735
Epoch 49/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 5s 3ms/step - loss: 0.0736
Epoch 50/50
1085/1085 ━━━━━━━━━━━━━━━━━━━━ 3s 3ms/step - loss: 0.0740

### Model Prediction

In [24]:
y_pred=model.predict(x_test)

272/272 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step

In [25]:
y_pred_int=np.argmax(y_pred,axis=1)
y_pred_int

array([0, 0, 0, ..., 0, 0, 0], shape=(8680,))

### Model Evaluation

In [26]:
accuracy_score(y_test,y_pred_int)

0.9814516129032258

### Testing on Sample Data

In [27]:
new_data = np.array([[1,32,0,0,0,4,0,100,18,3]])
y_pred_new = model.predict(new_data)        
y_pred_int_new = np.argmax(y_pred_new, axis=1)   
y_pred_label = encoder.fit_transform(y_pred_int_new)   
print("Predicted Cerebral Stroke:", y_pred_label[0])

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 168ms/step
Predicted Cerebral Stroke: 0